<footer>
    <div class="kontener">
        <div class="f_main">
            <div class="f_lewa">
                <div class="f_nazwa">
                    <img src="obr/logo.jpg" alt="Logo" id="h_logo" />
                    <div class="h_logo">Przyjaciele rodziny</div>
                </div>
                <div class="f_tekst">
                    Modele których wizerunek został użyty: Kotka syberyjski Fifa, York Daktyl, York Niko, Kotka Kulka, Kotka Gruba
                </div>
            </div>
            <div class="f_prawa">
                <div style="font-weight: 600">Stack technologiczny:</div>
                <div class="f_tekst">
                    Wykorzystano HTML, CSS i JS
                </div>
            </div>
        </div>
        <div class="spaceout"></div>
    </div>
</footer>