<header>
    <div class="kontener">
        <div class="h_spaceout">
            <div class="h_main">
                <img src="obr/logo.jpg" alt="Logo" id="h_logo" />
                <div class="h_nazwa">Przyjaciele rodziny</div>
            </div>
            <div class="h_laczenie">
                <div class="h_ID">Adrian Dratwa (album: 124637)</div>
                <img src="obr/Ja.jpg" alt="Logo" id="h_ja" />
            </div>
        </div>  
    </div>
</header>