@page "/"
<div class="page-wrapper">



    <div class="kontener">
        <div class="glowny obramowka">
            <div class="tytul">Zwierzęta domowe</div>

            <section>
                <p>
                    W wielu Polskich domach znajdują się zwierzęta, które są nieodłączną cześcią tych gospodarstw, z tego powodu chciałbym pokazać
                    małych członków rodziny którzy są w moim miejscu zamieszkania jak i mych przyjaciół.
                </p>
                <div class="opis">W moim domu znajdują się dwa zwierzaki, cicha zawsze śpiąca kotka Fifa jak i nieokiełznana strzała york Daktyl.</div>
                <div class="k_wielkosc">

                    <div id="karuzela1" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="obr/fifa1.jpg" class="d-block w-100" alt="..." id="domy">
                            </div>
                            <div class="carousel-item">
                                <img src="obr/fifa2.jpg" class="d-block w-100" alt="..." id="domy">
                            </div>
                            <div class="carousel-item">
                                <img src="obr/fifa3.jpg" class="d-block w-100" alt="..." id="domy">
                            </div>
                            <div class="carousel-item">
                                <img src="obr/fifa4.jpg" class="d-block w-100" alt="..." id="domy">
                            </div>
                            <div class="carousel-item">
                                <img src="obr/fifa5.jpg" class="d-block w-100" alt="..." id="domy">
                            </div>
                            <div class="carousel-item">
                                <img src="obr/fifa6.jpg" class="d-block w-100" alt="..." id="domy">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#karuzela1" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#karuzela1" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div id="karuzela2" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="obr/daktyl1.jpg" class="d-block w-100" alt="..." id="domy">
                            </div>
                            <div class="carousel-item">
                                <img src="obr/daktyl2.jpg" class="d-block w-100" alt="..." id="domy">
                            </div>
                            <div class="carousel-item">
                                <img src="obr/daktyl3.jpg" class="d-block w-100" alt="..." id="domy">
                            </div>
                            <div class="carousel-item">
                                <img src="obr/daktyl4.jpg" class="d-block w-100" alt="..." id="domy">
                            </div>
                            <div class="carousel-item">
                                <img src="obr/daktyl5.jpg" class="d-block w-100" alt="..." id="domy">
                            </div>
                            <div class="carousel-item">
                                <img src="obr/daktyl6.jpg" class="d-block w-100" alt="..." id="domy">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#karuzela2" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#karuzela2" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>
            </section>
            <div class="spaceout"></div>
            <section>

                <div class="opis">Innymi kolegami są dwie grube kotki mojego przyjaciela Maksa oraz mały lecz skoczny york Niko Pawła.</div>
                <div class="k_wielkosc">

                    <div id="karuzela3" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="obr/MK1.jpg" class="d-block w-100" alt="..." id="domy">
                            </div>
                            <div class="carousel-item">
                                <img src="obr/MK2.jpg" class="d-block w-100" alt="..." id="domy">
                            </div>
                            <div class="carousel-item">
                                <img src="obr/MK3.jpg" class="d-block w-100" alt="..." id="domy">
                            </div>
                            <div class="carousel-item">
                                <img src="obr/MK4.jpg" class="d-block w-100" alt="..." id="domy">
                            </div>
                            <div class="carousel-item">
                                <img src="obr/MK5.jpg" class="d-block w-100" alt="..." id="domy">
                            </div>
                            <div class="carousel-item">
                                <img src="obr/MK6.jpg" class="d-block w-100" alt="..." id="domy">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#karuzela3" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#karuzela3" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div id="karuzela4" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="obr/PW2.jpg" class="d-block w-100" alt="..." id="domy">
                            </div>
                            <div class="carousel-item">
                                <img src="obr/pw3.jpg" class="d-block w-100" alt="..." id="domy">
                            </div>
                            <div class="carousel-item">
                                <img src="obr/PW1.jpg" class="d-block w-100" alt="..." id="domy">
                            </div>
                            <div class="carousel-item">
                                <img src="obr/PW4.jpg" class="d-block w-100" alt="..." id="domy">
                            </div>
                            <div class="carousel-item">
                                <img src="obr/PW5.jpg" class="d-block w-100" alt="..." id="domy">
                            </div>
                            <div class="carousel-item">
                                <img src="obr/PW6.jpg" class="d-block w-100" alt="..." id="domy">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#karuzela4" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#karuzela4" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>
            </section>
        </div>
        <div class="prawy obramowka">
            <div class="tytul">Inne zwierzęta</div>
            <section>

                <div class="opis">Miałem przyjemność uchwycić również inne żywe stworzenia hodowlane jak i dzikie w moim otoczeniu.</div>
                <div class="k_wielkosc">
                    <div id="karuzela5" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="obr/inne1.jpg" class="d-block w-100" alt="..." id="domy">
                            </div>
                            <div class="carousel-item">
                                <img src="obr/inne2.jpg" class="d-block w-100" alt="..." id="domy">
                            </div>
                            <div class="carousel-item">
                                <img src="obr/inne3.jpg" class="d-block w-100" alt="..." id="domy">
                            </div>
                            <div class="carousel-item">
                                <img src="obr/inne4.jpg" class="d-block w-100" alt="..." id="domy">
                            </div>
                            <div class="carousel-item">
                                <img src="obr/inne5.jpg" class="d-block w-100" alt="..." id="domy">
                            </div>
                            <div class="carousel-item">
                                <img src="obr/inne6.jpg" class="d-block w-100" alt="..." id="domy">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#karuzela5" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#karuzela5" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </section>
        </div>
    </div>



</div>